.filter{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    height:100%;
    background-size: cover;
    font-size:100%;
}
.filtered-boro{
    margin:2%;
    padding:2%;
    border:solid 1px lightgreen;
    border-radius:25%;
    background-color:lightgreen;
    height:5%;
}