.gardens{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    height:100%;
    background-image: url('../images/baclground.jpg');
    background-size: cover;
}
.gardens-locations{
    margin:2%;
    padding:2%;
    width:20%;
    border:solid 1px lightgreen;
    border-radius:25%;
    background-color:lightgreen;
}